#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define LAYER_BASE 0
#define LAYER_SIGNS 1
#define LAYER_NUMBERS 2
#define LAYER_ARROW 3
#define LAYER_MOUSE_BASE 4
#define LAYER_SCROLL 5
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        shift_tab {
            bindings = <&kp LANG2>;
            key-positions = <12 13>;
        };

        lang {
            bindings = <&kp LANG1>;
            key-positions = <18 19>;
        };

        mkp_MB3 {
            bindings = <&mkp MB3>;
            key-positions = <7 8>;
            layers = <5>;
        };
    };

    macros {
        q_ctrl_lang1: q_ctrl_lang1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp LANG1 &kp LC(Q)>;
        };

        c_ctrl_lang1: c_ctrl_lang1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp LANG1 &kp LC(C)>;
        };

        escape_lang1: escape_lang1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp LANG1 &kp ESCAPE>;
        };

        plus_spaced: plus_spaced {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp SPACE &kp PLUS &kp SPACE>;
        };

        minus_spaced: minus_spaced {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp SPACE &kp MINUS &kp SPACE>;
        };

        asterisk_spaced: asterisk_spaced {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp SPACE &kp ASTERISK &kp SPACE>;
        };

        slash_spaced: slash_spaced {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp SPACE &kp SLASH &kp SPACE>;
        };

        equal_spaced: equal_spaced {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp SPACE &kp EQUAL &kp SPACE>;
        };

        plus_double: plus_double {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp PLUS &kp PLUS>;
        };

        minus_double: minus_double {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp MINUS &kp MINUS>;
        };

        asterisk_double: asterisk_double {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp ASTERISK &kp ASTERISK>;
        };

        slash_double: slash_double {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp SLASH &kp SLASH>;
        };

        equal_double: equal_double {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp EQUAL &kp EQUAL>;
        };

        single_quote_pair: single_quote_pair {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp SQT &kp SQT &kp LEFT>;
        };

        double_quote_pair: double_quote_pair {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp DOUBLE_QUOTES &kp DOUBLE_QUOTES &kp LEFT>;
        };

        question_spaced: question_spaced {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp SPACE &kp QUESTION &kp SPACE>;
        };

        question_double: question_double {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp QUESTION &kp QUESTION>;
        };

        paren_pair: paren_pair {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp LS(LEFT_PARENTHESIS) &kp LS(RIGHT_PARENTHESIS) &kp LEFT>;
        };

        brace_pair: brace_pair {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp LS(LEFT_BRACE) &kp LS(RIGHT_BRACE) &kp LEFT>;
        };

        bracket_pair: bracket_pair {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>;
        };

        angle_pair: angle_pair {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp LS(LESS_THAN) &kp LS(GREATER_THAN) &kp LEFT>;
        };

        ampersand_spaced: ampersand_spaced {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp SPACE &kp AMPERSAND &kp SPACE>;
        };

        ampersand_double: ampersand_double {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp AMPERSAND &kp AMPERSAND>;
        };
    };

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <40>;
        };

        mouse_layer_tap: mouse_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE_LAYER_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&mkp>;
        };

        scroll_key_tap: scroll_key_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "SCROLL_KEY_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&msc>;
        };

        dot_comma_tap: dot_comma_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOT>, <&kp COMMA>;
        };

        plus_tap: plus_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp PLUS>, <&plus_spaced>, <&plus_double>;
        };

        minus_tap: minus_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp MINUS>, <&minus_spaced>, <&minus_double>;
        };

        asterisk_tap: asterisk_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ASTERISK>, <&asterisk_spaced>, <&asterisk_double>;
        };

        slash_tap: slash_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SLASH>, <&slash_spaced>, <&slash_double>;
        };

        equal_tap: equal_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp EQUAL>, <&equal_spaced>, <&equal_double>;
        };

        single_quote_tap: single_quote_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SQT>, <&single_quote_pair>;
        };

        double_quote_tap: double_quote_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOUBLE_QUOTES>, <&double_quote_pair>;
        };

        question_tap: question_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp QUESTION>, <&question_spaced>, <&question_double>;
        };

        paren_tap: paren_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LS(LEFT_PARENTHESIS)>, <&kp LS(RIGHT_PARENTHESIS)>, <&paren_pair>;
        };

        brace_tap: brace_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LS(LEFT_BRACE)>, <&kp LS(RIGHT_BRACE)>, <&brace_pair>;
        };

        bracket_tap: bracket_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>, <&bracket_pair>;
        };

        angle_tap: angle_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LS(LESS_THAN)>, <&kp LS(GREATER_THAN)>, <&angle_pair>;
        };

        ampersand_tap: ampersand_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp AMPERSAND>, <&ampersand_spaced>, <&ampersand_double>;
        };

        q_ctrl_only_lang1: q_ctrl_only_lang1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&q_ctrl_lang1>;

            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        q_smart: q_smart {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&q_ctrl_only_lang1>, <&kp Q>;

            mods = <(MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI|MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI|MOD_LSFT|MOD_RSFT)>;
        };

        c_ctrl_only_lang1: c_ctrl_only_lang1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C>, <&c_ctrl_lang1>;

            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        c_smart: c_smart {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&c_ctrl_only_lang1>, <&kp C>;

            mods = <(MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI|MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI|MOD_LSFT|MOD_RSFT)>;
        };

        escape_smart: escape_smart {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&escape_lang1>, <&kp ESCAPE>;

            mods = <(MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI|MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI|MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&q_smart   &kp W    &kp E     &kp R      &kp T                                             &kp Y              &kp U  &kp I      &kp O       &lt 4 P
&kp A      &kp S    &kp D     &kp F      &kp G        &none                 &none          &kp H              &kp J  &kp K      &kp L       &mt LEFT_SHIFT ENTER
&kp Z      &kp X    &c_smart  &kp V      &kp B        &escape_smart         &kp BACKSPACE  &kp N              &kp M  &kp COMMA  &kp PERIOD  &lt 1 MINUS
&kp GLOBE  &kp F20  &kp F19   &lt 3 TAB  &lt 2 SPACE  &kp LEFT_COMMAND      &kp LEFT_ALT   &kp RIGHT_CONTROL                                &kp GLOBE
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        NUMBERS {
            bindings = <
&plus_tap      &kp N7  &kp N8          &kp N9  &kp NON_US_BACKSLASH                      &kp F9  &kp F10  &kp F11  &kp F12  &none
&minus_tap     &kp N4  &kp N5          &kp N6  &kp UNDER             &trans      &trans  &kp F5  &kp F6   &kp F7   &kp F8   &trans
&asterisk_tap  &kp N1  &kp N2          &kp N3  &equal_tap            &trans      &trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans
&slash_tap     &kp N0  &dot_comma_tap  &trans  &trans                &trans      &trans  &trans                             &trans
            >;
        };

        SIGNS {
            bindings = <
&kp LS(EXCL)     &kp AT                &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)                      &kp CARET  &ampersand_tap  &asterisk_tap  &kp GRAVE      &kp TILDE
&single_quote_tap  &double_quote_tap  &slash_tap     &question_tap  &kp BACKSLASH  &trans      &trans  &paren_tap  &brace_tap  &bracket_tap  &angle_tap  &trans
&plus_tap         &minus_tap          &equal_tap     &kp UNDER      &kp PIPE       &trans      &trans  &kp SEMI    &kp COLON   &kp LS(EXCL)  &question_tap  &kp TILDE
&trans        &trans             &trans         &trans            &trans         &trans      &trans  &trans                                                                             &trans
            >;
        };

        ARROW {
            bindings = <
&kp LANG1     &kp LANG2     &trans        &trans        &trans                            &kp HOME  &kp PAGE_DOWN  &kp PAGE_DOWN  &kp END    &trans
&trans        &trans        &trans        &trans        &trans        &trans      &trans  &kp LEFT  &kp DOWN       &kp UP         &kp RIGHT  &trans
&bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &trans      &trans  &trans    &trans         &trans         &trans     &trans
&bt BT_CLR    &trans        &trans        &trans        &trans        &trans      &trans  &trans                                             &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE_BASE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &mkp MB4  &scroll_key_tap HOME SCRL_UP   &mkp MB1        &mouse_layer_tap 5 MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB5  &scroll_key_tap END SCRL_DOWN  &msc SCRL_LEFT  &msc SCRL_RIGHT         &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans    &trans                         &trans          &trans                  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                                           &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
